    <!--Footer-->
    <footer id="footer" class="footer">
      <div class="footer-content">
        <div class="flex-display flex-column-direction footer-section">
          <div class="footer-img"></div>
          <div class="flex-display flex-row-direction">
            <i class="fa fa-clock-o footer-icon" aria-hidden="true"></i>
            <p class="footer-text">Lun - Jue: 9am - 6pm</p>
          </div>
          <div class="flex-display flex-row-direction">
            <i class="fa fa-clock-o footer-icon" aria-hidden="true"></i>
            <p class="footer-text">Vie - Sáb: 9am - 1pm</p>
          </div>
        </div>
        <div class="flex-display flex-column-direction footer-section">
          <h5>Contacto</h5>
          <div class="flex-display flex-row-direction">
            <i class="fa fa-phone footer-icon" aria-hidden="true"></i>
            <a href="tel:+525527542800" target="_blank"><p class="footer-text">55 2754 2800</p></a>
          </div>
           <div class="flex-display flex-row-direction">
            <i class="fa fa-envelope footer-icon" aria-hidden="true"></i>
            <a href="mailto:nut.danielacasares@gmail.com" target="_blank"><p class="footer-text">nut.danielacasares@gmail.com</p></a>
          </div>
           <div class="flex-display flex-row-direction">
            <i class="fa fa-location-arrow footer-icon" aria-hidden="true"></i>
            <p class="footer-text">Ameyalco 10, Del Valle Centro, Benito Juárez, 03100, CDMX</p>
          </div>
        </div>
        <div class="flex-display flex-column-direction footer-section">
          <h5>Síguenos</h5>
          <div class="flex-display flex-row-direction">
            <a href="https://www.facebook.com/Navena-Nutrici%C3%B3n-512438392599625" target="_blank"><i class="fa fa-facebook footer-icon-media" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/navena.nutricion" target="_blank"><i class="fa fa-instagram footer-icon-media" aria-hidden="true"></i></a>
            <a href="https://api.whatsapp.com/send?text=¡Hola%20Navena!&phone=525527542800" target="_blank"><i class="fa fa-whatsapp footer-icon-media" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <p style="color: whitesmoke;">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
      </div>
    </footer>
    <!--End Footer-->

    <!--Javascript links-->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>
    <script src="javascripts/main.js"></script>
</body>
</html>