<!--About Section-->
<section id="about" style="background-color: white;">
    <div class="banner-main-container banner-section" style="height: auto;">
        <div class="banner-center-container">
            <h2>Acerca de mi</h2>
            <div class="about-image"></div>
            <h4>Daniela Casares</h4>
            <p class="about-text generic-text">Soy Licenciada en Dietética y Nutrición, mama de la bebe mas bonita del mundo y esposa del we mas buenote del planeta. <br/><br/>Soy fiel creeyente que la nutrición no solo es llevar una dieta balanceada y tener una rutina de ejercicio. Para mi, la clave es disfrutar lo que comes y sentirte saludable cuidando que es lo mejor que se adapta a ti. <br/><br/>Permiteme ayudarte a llegar a tus objetivos!</p>
        </div>
    </div>
</section>
<!--End About Section-->