<!--About Section-->
<section id="about" style="background-color: white;">
    <div class="banner-main-container banner-section" style="height: auto;">
        <div class="banner-center-container">
            <h2>Acerca de mí</h2>
            <div class="about-image"></div>
            <h4>Daniela Casares</h4>
            <p class="about-text generic-text">Soy Licenciada en Dietética y Nutrición, Mamá de la Bebe más bonita del mundo y esposa del hombre más guapo del planeta. <br/><br/>Soy fiel creeyente que la nutrición no solo consiste en llevar una dieta balanceada y tener una rutina de ejercicio. Para mí, la clave es disfrutar lo que comes sintiéndote saludable y cuidando que es lo que mejor se adapta a ti. <br/><br/>¡Permíteme ayudarte a llegar a tus objetivos!</p>
        </div>
    </div>
</section>
<!--End About Section-->