<!--Contact Section-->
<section id="contact" style="background-color: whitesmoke;">
    <div class="banner-main-container banner-section" style="height: auto;">
        <div class="banner-center-container">
            <h2>Contacto</h2>
            <form id="contactForm" class="needs-validation navena-form" novalidate>
                <div class="form-group contact-form-input">
                    <label for="nameInput">Nombre</label>
                    <input type="text" class="form-control" id="nameInput" required>
                    <div class="invalid-feedback">
                        El nombre es obligatorio
                    </div>
                </div>
                <div class="form-group contact-form-input">
                    <label for="emailInput">Correo electr칩nico</label>
                    <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" required>
                    <div class="invalid-feedback">
                        El correo electr칩nico no es v치lido
                    </div>
                </div>
                <div class="form-group contact-form-input">
                    <label for="exampleFormControlTextarea1">Comentarios</label>
                    <textarea class="form-control" id="commentsInput" rows="5" required></textarea>
                </div>
                <button class="btn-main btn-navena-secondary btn-form" type="button" onclick="sendComments()">Enviar</button>
            </form>
            <div id="loadingSpinner" class="spinner-border m-5 alert-invisible" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="alertOk" class="alert alert-success alert-invisible">
                Muchas gracias por tus comentarios! En breve nos estaremos poniendo en contacto contigo.
            </div>
            <div id="alertError" class="alert alert-danger alert-invisible">
                Ooops! Se ha producido un error. Por favor, reintenta m치s tarde.
            </div>
        </div>
    </div>
</section>
<!--End Contact Section-->