  <!--Footer-->
    <footer id="footer" class="footer"></footer>
    <!--End Footer-->

    <!--Javascript links-->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>
    <script src="javascripts/main.js"></script>
</body>
</html>